<h1>Kompanya haqida Tahrirlash</h1>
<div class="container mt-3 mb-3">
  <form
    action="<%=`/about/${result._id}?_method=PUT`%>"
    method="POST"
    class="needs-validation"
    novalidate
  >
    <div class="mb-3">
      <label class="form-label" for="validationCustom01"
        >Biz haqimizda sarlavhasi</label
      >
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        placeholder="Biz haqimizda sarlavhasi"
        name="title"
        value="<%= result.title %>"
        required
      />
      <div class="invalid-feedback">Biz haqimizda sarlavhasi yozilmagan</div>
      <div class="valid-feedback">Yaxshi</div>
    </div>
    <!-- Loyiha haqida  model name -->
    <div class="mb-3">
      <label class="form-label">Filarmoniya haqida tahrirlash</label>
      <textarea
        class="form-control"
        rows="5"
        placeholder="Kompanya haqida yozing Uzbek tilida"
        name="description"
      >
<%= result.description %></textarea
      >
    </div>

    <button class="btn btn-primary" type="submit">Yuklash</button>
  </form>
  <!-- Bitta rasmni tahrirlash -->
  <form
    method="POST"
    action="<%=`/about/updateone/${result._id}?_method=PUT`%>"
    ref="uploadForm"
    encType="multipart/form-data"
    class="col-md-4 mt-3"
  >
    <div class="mb-3">
      <label>Rasmni tahrirlash</label>
      <br />

      <img width="150px" class="col" src="/uploads/about/<%=result.image%>" />
    </div>
    <input class="form-control" name="image" type="file" multiple /> <br />

    <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
  </form>
</div>
