<h1>Maqolalarni tahrirlash</h1>

<div class="container mt-3 mb-3">
  <form
    method="POST"
    action="<%=`/article/${result._id}?_method=PUT`%>"
    class="needs-validation"
    novalidate
  >
    <!-- Maqolaning turi model name -->
    <div class="mb-3">
      <label class="form-label" for="validationCustom01"
        >Maqolaning sarlavhasini tahrirlash</label
      >
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        placeholder="Maqolaning sarlavhasini tahrirlash"
        name="title"
        value="<%= result.title %>"
        required
      />
      <div class="invalid-feedback">Maqolaning sarlavhasi yozilmagan</div>
      <div class="valid-feedback">Yaxshi</div>
    </div>
    <hr style="color: red; height: 2px" />

    <!-- Maqola haqida  model description -->
    <div class="mb-3">
      <label class="form-label">Video linkini tahrirlash</label>
      <textarea
        name="video"
        class="form-control"
        rows="7"
        placeholder="Video linkini tahrirlash"
      >
<%= result.video %></textarea
      >
    </div>

    <hr style="color: red; height: 2px" />

    <div class="entry">
      <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
      <div class="body">
        <textarea id="editor1" name="description">
<%- result.description %></textarea
        >
        <script>
          CKEDITOR.replace("editor1");
        </script>
      </div>
    </div>

    <button class="btn btn-primary mt-2" type="submit">Saqlash</button>
  </form>
  <!-- Bitta rasmni tahrirlash -->
  <form
    method="POST"
    action="<%=`/article/updateone/${result._id}?_method=PUT`%>"
    ref="uploadForm"
    encType="multipart/form-data"
    class="col-md-4 mt-3"
  >
    <div class="mb-3">
      <label>Rasmni tahrirlash</label>
      <br />

      <img
        width="150px"
        class="col"
        src="/uploads/articles/<%= result.image %>"
      />
    </div>
    <input class="form-control" name="image" type="file" multiple /> <br />

    <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
  </form>
</div>
