<h1>Loyihani tahrirlash</h1>

<div class="container mt-3 mb-3"> 
    <form method="POST" action="<%=`/projects/${result._id}?_method=PUT`%>"  class="needs-validation" novalidate>
         <!-- Loyihaning turi model name ssf -->
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Loyihaning turi Uzbek tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Loyihaning turini yozing Uzbek tilida" value="<%= result.name.uz %>" name="nameuz"  required>
            <div class="invalid-feedback">
                Loyihaning turi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Loyihaning turi Rus tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Loyihaning turini yozing Rus tilida" value="<%= result.name.ru %>" name="nameru"  required>
            <div class="invalid-feedback">
                Loyihaning turi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>
 
 <!-- Loyihaning sarlavhasi model title -->
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Loyihaning sarlavhasi Uzbek tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Loyihaning Sarlavhasini yozing uzbek tilida" value="<%= result.title.uz %>"  name="titleuz" required>
            <div class="invalid-feedback">
                Loyihaning Sarlavhasi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Loyihaning sarlavhasi Rus tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Loyihaning Sarlavhasini yozing rus tilida" value="<%= result.title.ru %>" name="titleru" required>
            <div class="invalid-feedback">
                Loyihaning Sarlavhasi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>
 

        <!-- Loyihaning yili model year -->
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Loyihaning topshirilgan yili</label>
            <input type="number" class="form-control" id="validationCustom01" placeholder="Loyihaning topshirilgan yili" value="<%= result.year %>" name="year" required>
            <div class="invalid-feedback">
                Loyihaning topshirilgan yili yozilmagan
            </div>
            <div class="valid-feedback">
              Yaxshi
            </div>
        </div>
<!-- Loyihani zakaz qilgan firma model firma -->
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Loyihani qildirgan kompanyani yozing</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Loyihani qildirgan kompanyani yozing " value="<%= result.firma %>" name="firma" required>
            <div class="invalid-feedback">
                Loyihani qildirgan kompanya yozilmagan
            </div>
            <div class="valid-feedback">
              Yaxshi
            </div>
        </div>
<!-- Loyihaning nomi model project_name -->
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Loyihaning nomi Uzbek tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Loyihaning nomini yozing Uzbek tilida" value="<%= result.project_name.uz %>" name="project_nameuz" required>
            <div class="invalid-feedback">
                Loyihani nomi yozilmagan
            </div>
            <div class="valid-feedback">
              Yaxshi
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Loyihaning nomi Rus tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Loyihaning nomini yozing Rus tilida" value="<%= result.project_name.ru %>" name="project_nameru" required>
            <div class="invalid-feedback">
                Loyihani nomi yozilmagan
            </div>
            <div class="valid-feedback">
              Yaxshi
            </div>
        </div>



<!-- Loyihaning qurilgan joyi model location -->
<div class="mb-3">
    <label class="form-label" for="validationCustom01">Loyihaning qurilgan joyi Uzbek tilida tahrirlash</label>
    <input type="text" class="form-control" id="validationCustom01" placeholder="Loyihaning qurilgan joyini yozing Uzbek tilida" value="<%= result.location.uz %>" name="locationuz" required>
    <div class="invalid-feedback">
        Loyihani qurilgan joyi yozilmagan
    </div>
    <div class="valid-feedback">
      Yaxshi
    </div>
</div> 

<div class="mb-3">
    <label class="form-label" for="validationCustom01">Loyihaning qurilgan joyi Rus tilida tahrirlash</label>
    <input type="text" class="form-control" id="validationCustom01" placeholder="Loyihaning qurilgan joyini yozing " value="<%= result.location.ru %>" name="locationru" required>
    <div class="invalid-feedback">
        Loyihani qurilgan joyi yozilmagan
    </div>
    <div class="valid-feedback">
      Yaxshi
    </div>
</div> 

      <!-- Loyiha haqida  model description -->

        <div class="mb-3">
            <label class="form-label"  >Loyiha haqida Uzbek tilida tahrirlash</label>
            <textarea class="form-control "  rows="5" 
                placeholder="Loyiha haqida yozing Uzbek tilida" name="descriptionuz"><%= result.description.uz %></textarea>
            
        </div>
        <div class="mb-3">
            <label class="form-label">Loyiha haqida Rus tilida tahrirlash</label>
            <textarea class="form-control "  rows="5" 
                placeholder="Loyiha haqida yozing rus tilida" name="descriptionru"><%= result.description.ru %></textarea>
            
        </div>
        
        
        <button class="btn btn-primary" type="submit">Saqlash</button>
    </form>
 
    <form method="POST" action="<%=`/projects/update/${result._id}?_method=PUT`%>" ref="uploadForm"
        encType="multipart/form-data" class="col-md-4 mt-3">
        <div class="mb-3">
            <label>Rasmni tahrirlash</label>
            <br>
           <% for (let item of result.file) {%>  
            <img width="150px" class="col" src="/uploads/projects/<%=item%>">
            <%}%>
        </div> 
        <input class="form-control" name="image" type="file" multiple> <br>

        <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
    </form>
    
</div>