<h1>Xizmatni tahrirlash</h1>

<div class="container mt-3 mb-3"> 
    <form method="POST" action="<%=`/services/${result._id}?_method=PUT`%>"  class="needs-validation" novalidate>
         <!-- Xizmatning turi model name ssf -->
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Xizmatning turi Uzbek tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Xizmatning turini yozing Uzbek tilida" value="<%= result.name.uz %>" name="nameuz"  required>
            <div class="invalid-feedback">
                Xizmatning turi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Xizmatning turi Rus tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Xizmatning turini yozing Rus tilida" value="<%= result.name.ru %>" name="nameru"  required>
            <div class="invalid-feedback">
                Xizmatning turi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>
 
 
 <!-- Xizmatning sarlavhasi model title -->
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Xizmatning sarlavhasi Uzbek tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Xizmatning Sarlavhasini yozing uzbek tilida" value="<%= result.title.uz %>"  name="titleuz" required>
            <div class="invalid-feedback">
                Xizmatning Sarlavhasi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Xizmatning sarlavhasi Rus tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Xizmatning Sarlavhasini yozing rus tilida" value="<%= result.title.ru %>" name="titleru" required>
            <div class="invalid-feedback">
                Xizmatning Sarlavhasi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>


      <!-- Xizmat haqida  model description -->

        <div class="mb-3">
            <label class="form-label"  >Xizmat haqida Uzbek tilida tahrirlash</label>
            <textarea class="form-control "  rows="5" 
                placeholder="Xizmat haqida yozing Uzbek tilida" name="descriptionuz"><%= result.description.uz %></textarea>
            
        </div>
        <div class="mb-3">
            <label class="form-label">Xizmat haqida Rus tilida tahrirlash</label>
            <textarea class="form-control "  rows="5" 
                placeholder="Xizmat haqida yozing rus tilida" name="descriptionru"><%= result.description.ru %></textarea>
            
        </div>

        
        <button class="btn btn-primary" type="submit">Saqlash</button>
    </form>
<!-- Bitta rasmni tahrirlash -->
    <form method="POST" action="<%=`/services/updateone/${result._id}?_method=PUT`%>" ref="uploadForm"
        encType="multipart/form-data" class="col-md-4 mt-3">
        <div class="mb-3">
            <label>Rasmni tahrirlash</label>
            <br>
           
            <img width="150px" class="col" src="/uploads/services/<%=result.image%>">
            
        </div> 
        <input class="form-control" name="image" type="file" multiple> <br>

        <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
    </form>

<!-- Xizmatni ichiga rasm yuklash --> 
 
    <form method="POST" action="<%=`/services/update/${result._id}?_method=PUT`%>" ref="uploadForm"
        encType="multipart/form-data" class="col-md-4 mt-3">
        <div class="mb-3">
            <label>Rasmlarni yuklash xizmatini ichiga 3 yoki 4 ta rasm yuklasangiz bo'ladi</label>
             
        </div> 
        <input class="form-control" name="image" type="file" multiple> <br>

        <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
    </form>
</div>