
<!--Start breadcrumb area-->     
<section class="breadcrumb-area breadcrumb-style2-area" style="background-image: url(/images/breadcrumb/breadcrumb-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12"> 
                <div class="inner-content">
                    <div class="title">
                        
                        <% if(lang === 'uz') { %>
                            <h2>
                            <%= trans.hcontact %> 
                            </h2>
                        <% } %> 
                        <% if(lang === 'ru') { %>
                                <h2>
                                <%= trans.hcontact %> 
                                </h2>
                        <% } %> 
                        <% if(lang === undefined) { %>
                                <h2>
                                Aloqa 
                                </h2>
                        <% } %> 
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <% if(lang === 'uz') { %>
                                <li><a href="/">
                                    <%= trans.hhome %> 
                                </a></li>
                            <% } %> 
                            <% if(lang === 'ru') { %>
                                <li><a href="/">
                                    <%= trans.hhome %> 
                                </a></li>
                            <% } %> 
                            <% if(lang === undefined) { %>
                                <li><a href="/">
                                    Bosh sahifa
                                </a></li>
                            <% } %> 
                            <li><span class="fa fa-angle-right"></span></li>
                            
                            <% if(lang === 'uz') { %>
                                <li class="active">
                                    <%= trans.hcontact %> 
                                <i class="flaticon-right-arrow-1 arrow1"></i></li>
                            <% } %> 
                            <% if(lang === 'ru') { %>
                                <li class="active">
                                    <%= trans.hcontact %> 
                                <i class="flaticon-right-arrow-1 arrow1"></i></li>
                            <% } %> 
                            <% if(lang === undefined) { %>
                                <li class="active">
                                    Aloqa
                                <i class="flaticon-right-arrow-1 arrow1"></i></li>
                            <% } %> 
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start Google map area-->
<section class="google-map-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-3 col-lg-3 col-sm-3">
                <div class="contact-page-map-outer">
                    <!--Map Canvas-->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.034682913447!2d67.30802516479399!3d37.27060464877913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f353247c22043ff%3A0x51e04925e26bb98d!2z0KLQtdGA0LzQtdC3!5e0!3m2!1sru!2s!4v1643051473183!5m2!1sru!2s" width="1170" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Start Google map area-->

<!--Start Contact Info Area-->
<section class="contact-info-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="single-info-box">
                    <div class="title">
                        <% if(lang === 'uz') { %>
                            <h4>
                                <%= trans.address %> 
                            </h4>
                        <% } %> 
                        <% if(lang === 'ru') { %>
                            <h4>
                                <%= trans.address %> 
                            </h4> 
                        <% } %> 
                        <% if(lang === undefined) { %>
                            <h4>
                                Manzilimiz 
                            </h4>
                        <% } %> 
                    </div>
                    <div class="text">
                        <p>Termiz shahar <br> Barkamol avlod ko'chasi 13A - uy</p>
                    </div>
                </div>
            </div> 
            <div class="col-xl-6 col-lg-6">
                <div class="single-info-box">
                    <div class="title">
                        <% if(lang === 'uz') { %>
                            <h4>
                                <%= trans.email %> 
                            </h4>
                        <% } %> 
                        <% if(lang === 'ru') { %>
                            <h4>
                                <%= trans.email %> 
                            </h4> 
                        <% } %> 
                        <% if(lang === undefined) { %>
                            <h4>
                                Elektron Pochta
                            </h4>
                        <% } %> 
                    </div>
                    <div class="text">
                        <p><a href="#">stroy.montaj.invest@yandex.com</a></p>
                    </div>
                </div>
            </div> 

            <div class="col-xl-6 col-lg-6">
                <div class="single-info-box">
                    <div class="title">
                        <% if(lang === 'uz') { %>
                            <h4>
                                <%= trans.phone %> 
                            </h4>
                        <% } %> 
                        <% if(lang === 'ru') { %>
                            <h4>
                                <%= trans.phone %> 
                            </h4>
                        <% } %> 
                        <% if(lang === undefined) { %>
                            <h4>
                                Telefon raqamlar 
                            </h4> 
                        <% } %> 
                    </div>
                    <div class="text">
                        <p><a href="tel:+998993781539">+998 99 378 15 39</a></p>
                        <p><a href="tel:+998909001176">+998 90 900 11 76</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6">
                <div class="single-info-box">
                    <div class="title">
                        <% if(lang === 'uz') { %>
                            <h4>
                                <%= trans.social %>
                            </h4>
                        <% } %> 
                        <% if(lang === 'ru') { %>
                            <h4>
                                <%= trans.social %> 
                            </h4>
                        <% } %> 
                        <% if(lang === undefined) { %>
                            <h4>
                                Ijtimoiy tarmoqlar 
                            </h4> 
                        <% } %> 
                    </div>
                    <div class="text">
                        <ul class="social-links-style1">
                            <li>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                            </li>
                            <li>
                                <a href="https://t.me/stroymontajinvest"><i class="fa fa-telegram" aria-hidden="true"></i></a> 
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                        </ul>    
                    </div>
                </div>
            </div>
              
        </div>
    </div>
</section>
<!--End Contact Info Area-->


<!--Start Contact Style1 Area-->
<section class="contact-style1-area" id="izoh">
    <div class="container">
        <div class="row">

            <div class="col-xl-8 col-lg-7">
                <div class="contact-style1_form">
                    <div class="title">
                        <% if(lang === 'uz') { %>
                            <h4>
                                <%= trans.sms %> 
                            </h4>
                        <% } %> 
                        <% if(lang === 'ru') { %>
                            <h4>
                                <%= trans.sms %> 
                            </h4> 
                        <% } %> 
                        <% if(lang === undefined) { %>
                            <h4>
                                Xabar yuborish
                            </h4>
                        <% } %> 
                        <p>Etiam tristique venenatis metus, eget maximus elit mattis et. Suspendisse felis odio,<br> Please Enter Your Comments<span>*</span></p>
                    </div>
                    <div class="contact-form">
                        <form  class="default-form2" action="/contact/add" method="POST">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="input-box"> 
                                        <input type="text" name="name" placeholder="<%= trans.fullname %> " required>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input-box"> 
                                        <input type="number" name="phone" placeholder="<%= trans.yourPhone %> " required>
                                    </div>   
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box">    
                                        <textarea name="message"   placeholder="<%= trans.yourMessage %> " required></textarea>
                                    </div>
                                    <div class="button-box">
                                        <button class="btn-one" type="submit">
                                            <% if(lang === 'uz') { %>
                                                <span class="txt">
                                                    <%= trans.sms %> 
                                                <i class="flaticon-right-arrow-1 arrow1"></i></span>
                                            <% } %> 
                                            <% if(lang === 'ru') { %>
                                                <span class="txt">
                                                    <%= trans.sms %> 
                                                <i class="flaticon-right-arrow-1 arrow1"></i></span>
                                            <% } %> 
                                            <% if(lang === undefined) { %>
                                                <span class="txt">
                                                    Yuborish
                                                <i class="flaticon-right-arrow-1 arrow1"></i></span>
                                            <% } %> 
                                        </button> 
                                    </div>     
                                </div>
                            </div>

                        </form> 
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!--End Contact Style1 Area-->
