
<style>
  .clamp {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .championship-bg img {
    width: 100%;
    position: relative;
    top: 5px;
  }
  
  .championship_wrap {
    background-color: #e8d3b6;
    padding: 100px 0;
  }
  h5 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 110%;
    color: #bd8d4c;
    font-style: normal;
    margin-bottom: 15px;
  }
  .news_title {
    margin: 25px auto;
    font-family: "Spectral SC", serif;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.06;
  }
  
  /* News */
  .row_n {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  
  .column {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    display: flex;
    font-family: "Gilroy";
    flex-direction: column;
    align-items: center;
  }
  
  .column img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .column h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
  }
  .column h2:hover {
    color: #bd8d4c;
  }
  .column span {
    font-size: 1rem;
    margin: 5px 0;
    cursor: pointer;
  }
  .column span:hover {
    color: #bd8d4c;
  }
  .column > * {
    font-size: 1rem;
    margin: 5px 0;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  @media screen and (max-width: 768px) {
    .column {
      width: 100%;
    }
  }
  
  @media (max-width: 1024px) {
    .championship_wrap {
      position: relative;
      padding: 60px 0;
    }
    .container {
      width: 100%;
    }
    h1 {
      font-size: 2em;
    }
    .championship-bg {
      position: relative;
      top: 5px;
      z-index: 5;
    }
  }
  </style>
  


<!-- main start -->
<main class="position-relative overflow-hidden">
  <div id="carusel" class="carusel-home h-100 position-absolute top-0 d-flex">
    <div class="item w-100 h-100 bt-info">
      <img src="./img/home1.jfif" class="w-100 h-100" />
    </div>
    <div class="item w-100 h-100 bt-info">
      <img src="./img/home2.jfif" class="w-100 h-100" />
    </div>
    <div class="item w-100 h-100 bt-info">
      <img src="./img/home3.jfif" class="w-100 h-100" />
    </div>
  </div>
  <div class="audio_play position-absolute w-100 py-2 bottom-0">
    <% for (let item of home) { %>
    <div class="container text-white">
      <div class="row py-2">
        <div class="col-3 d-none d-lg-block">
          <div class="name"><%= item.name %></div>
        </div>
        <div
          class="col-12 col-lg-9 d-flex justify-content-between align-items-center"
        >
          <audio controls id="mp3" class="d-none">
            <source src="/uploads/home/<%= item.audio %>" />
          </audio>
          <button
            onclick="prev()"
            class="border border-0 outline-none text-white d-flex align-items-center justify-content-center"
          >
            <i class="fa-solid fa-backward"></i>
          </button>
          <button
            onclick="play()"
            id="home-audio-play"
            class="audio-btn border border-0 outline-none text-white d-flex align-items-center justify-content-center"
          >
            <i class="fa-solid fa-play"></i>
          </button>
          <button
            onclick="next()"
            class="border border-0 outline-none text-white d-flex align-items-center justify-content-center"
          >
            <i class="fa-solid fa-forward"></i>
          </button>
          <div id="home-line" class="line w-75 rounded position-relative">
            <div id="home-line-in" class="line-in h-100 rounded"></div>
            <div
              class="time-mouse position-absolute align-items-center justify-content-center"
            >
              <span id="time-mouse-minute">00</span>:<span
                id="time-mouse-second"
                >00</span
              >
            </div>
          </div>
          <div class="time">
            <span id="home-minute">00</span>:<span id="home-second">00</span>
          </div>
          <i class="fa-solid fa-music d-none d-xl-block"></i>
        </div>
      </div>
    </div>
    <%}%>
  </div>
</main>
<!-- main end -->

<!-- about start -->
<section id="about">
  <div class="container">
    <% for (let item of abouts) { %>
    <div class="row py-5 about_in d-flex align-items-center">
      <div class="col-sm-11 col-md-12 col-lg-6">
        <img
          class="img-fluid"
          src="/uploads/about/<%= item.image %>"
          alt="girl.png"
          data-aos="fade-right"
          data-aos-duration="3000"
        />
      </div>
      <div
        class="about_text col-sm-11 col-md-12 col-lg-6 py-4"
        data-aos="fade-left"
        data-aos-duration="3000"
      >
        <span>Biz haqimizda</span>
        <h1 class="about-title"><%= item.title %></h1>
        <p><%= item.description %></p>
        <a class="about_btn" href="#">Batafsil</a>
      </div>
    </div>
    <%}%>
  </div>
</section>
<!-- about end -->

<!-- team start -->
<section id="team">
  <div class="team_wrapper">
    <div class="team_in container">
      <div
        class="team_header"
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="4000"
      >
        <h1 class="about-title">BIZNING JAMOA</h1>
        <% for (let item of teamAbout) { %>
        <span> <%= item.description %> </span>
        <%}%>
      </div>
      <div
        class="row card_team_in"
        data-aos="zoom-out"
        data-aos-duration="3000"
      >
        <!-- Card 1 -->
        <% for (var i = 0; i < teams.length; i++) { %> <% if (i == 3) { break; }
        %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card_team_wrapper">
            <div class="card_team">
              <img
                class="card_team_img img-fluid"
                src="/uploads/team/<%= teams[i].image %>"
                alt="new_1.jpg"
              />
              <div class="card_in">
                <h1><%= teams[i].job %></h1>
                <p><%= teams[i].description %></p>
              </div>
            </div>
          </div>
        </div>

        <% } %>
        <div class="all_card_item" data-aos="zoom-out" data-aos-duration="3000">
          <div class="d_none_card row justify-content-center">
            <!-- 4 -->
            <% for (var i = 3; i < teams.length; i++) { %> 
            %>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card_team_wrapper">
              <div class="card_team">
                <img class="card_team_img img-fluid" src="/uploads/team/<%= teams[i].image %>" alt="Our_Team_b_rahbar.jpg">
                <div class="card_in">
                  <h1><%= teams[i].job %></h1>
                  <p>
                    <%= teams[i].description %></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          </div>
          <button class="close_batafsil d-block mx-auto mt-4">Yopish</button>
        </div>
      </div>
      <div class="team_btn">
        <a class="team_link" href="#">Batafsil</a>
      </div>
    </div>
  </div>
</section>
<!-- team end -->
<!-- ijoddan namunalar Start-->
<section id="creativity">
  <div class="container">
    <h1 class="text-center my-5">Ijoddan namunalar</h1>
    <!-- 1 -->
    <% for (let item of audios) { %>
    <div class="row pt-3" data-aos="zoom-in" data-aos-duration="3500">
      <div class="col-8 mb-3 col-lg-3 d-flex align-items-center">
        <div>
          <b><%= item.title %></b>
          
        </div>
        <audio controls id="mpn1" class="d-none">
          <source src="/uploads/audios/<%= item.audio %>" />
        </audio>
      </div>
      <div class="col-5 mb-3 d-none d-lg-block d-flex align-items-center">
        <div class="d-flex w-100 h-100 align-items-center">
          <div class="creativity-text">
            <b class="ps-3"><%= item.name %></b>
          </div>
        </div>
      </div>
      <div
        class="text-red mb-3 col-md-2 d-none d-md-flex align-items-center justify-content-center"
      >
        <i class="fa-regular fa-clock me-3"></i>
        <span class="text-black">
          <span id="time-minute1">00</span> :
          <span id="time-second1">00</span>
        </span>
        <script>
          const mpn1 = document.querySelector("#mpn1");
          const timeMinute1 = document.querySelector("#time-minute1");
          const timeSecond1 = document.querySelector("#time-second1");
          mpn1.onloadedmetadata = function () {
            let fullTime = parseInt(mpn1.duration);
            timeMinute1.innerHTML =
              fullTime / 60 < 10
                ? `0${Math.floor(fullTime / 60)}`
                : Math.floor(fullTime / 60);
            timeSecond1.innerHTML =
              fullTime % 60 < 10 ? `0${fullTime % 60}` : fullTime % 60;
          };
        </script>
      </div>
      <div
        class="col-2 mb-3 d-flex align-items-center justify-content-center position-relative"
      >
        <button
          id="palay1"
          onclick="mpPlay(1)"
          class="play outline-none rounded-circle d-flex align-items-center justify-content-center bg-transparent right-0"
        >
          <i class="fa-solid fa-play ms-1"></i>
          <!-- <i class="fa-solid fa-pause"></i> -->
        </button>
      </div>
      <div
        id="line1"
        class="line col-12 px-0 py-0 my-0 position-relative rounded"
      >
        <div
          id="line-in1"
          class="line-in position-absolute bottom-0 left-0 h-100 rounded"
        ></div>
      </div>
    </div>
    <% } %>
  </div>
</section>
<!-- ijoddan namunalar tugadi -->

<!-- Start video page -->
<section id="video" class="py-5">
  <div class="container">
    <div class="video position-relative w-100 overflow-hidden">
      <video
        id="mp4"
        controls
        class="w-100 position-absolute top-0 start-0 bottom-0 end-0 h-auto d-none"
      >
        <source src="./video/Suyunbek_Vatan_bayrogi.mp4" />
      </video>
      <div class="open w-100 h-100 position-relative">
        <img
          class="w-100 h-100 position-absolute top-0 left-0"
          src="./img/home_2.jpeg"
        />
      </div>
      <button
        id="video-play"
        class="outline-none p-2 text-white position-absolute rounded-circle d-flex align-items-center justify-content-center bg-transparent"
      >
        <i class="fa-solid fa-play fs-1 ps-1"></i>
      </button>
      <button
        id="video-pause"
        class="d-none border-0 outline-none p-2 position-absolute rounded-circle d-flex align-items-center justify-content-center"
      >
        <i class="fa-solid fa-xmark fs-3"></i>
      </button>
    </div>
  </div>
</section>
<!-- End video page -->

<!-- news start -->
<section id="news">
  <div class="container">
    <div class="news_header" data-aos="zoom-in-up" data-aos-duration="3000">
      <h1>Maqolalar</h1>
      <p>Surxonda</p>
    </div>
    <div class="row_n">
      <% for (var i = 0; i < articles.length; i++) { %> <% if (i == 3) { break;
      } %>
      <div class="column" >
        <a href="<%=`/maqola/${articles[i]._id}`%>">
        <img
        src="/uploads/articles/<%= articles[i].image %>"
        />
      </a>
        <h2><a href="<%=`/maqola/${articles[i]._id}`%>"><%- articles[i].title %></a></h2>
        <span>18 Dec 2017</span>
        <p class="clamp">
          <%- articles[i].description %>
        </p>
      </div>
      <% } %>
    </div>
  </div>
</section>
<!-- news end -->



