<style>
    .nav-link{
        color: #272727 !important;
        transition: all 0.5s ease;
    }
    .nav-link:hover{
        color: #b19777 !important;
    }
    .pro_top{ 
        width: 100%;
        height: 200px;
    }
</style>

<!-- Lines -->
<section class="content-lines-wrapper">
    <div class="content-lines-inner">
        <div class="content-lines"></div>
    </div>
</section> 
<!-- Header Banner -->
<section class="banner-header banner-img valign bg-img bg-fixed" data-overlay-light="3" data-background="/img/banner.jpg">
<!-- Left Panel -->
<div class="left-panel"></div></section>
<!-- Post -->
<section class="pb-90">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="/uploads/news/<%= result.image %>" class="mb-30" alt="photo">
            <% if(lang==='uz' ){ %>
            <h2 class="section-title2"><%= result.title.uz %></h2>
            <p><%= result.description.uz %></p>
            <%}%>
            <% if(lang==='ru' ){ %>
            <h2 class="section-title2"><%= result.title.ru %></h2>
            <p><%= result.description.ru %></p>
            <%}%>
            <% if(lang==='en' ){ %>
            <h2 class="section-title2"><%= result.title.en %></h2>
            <p><%= result.description.ru %></p>
            <%}%>
            <% if(lang===undefined ){ %>
            <h2 class="section-title2"><%= result.title.uz %></h2>
            <p><%= result.description.uz %></p>
            <%}%>
        </div>
    </div>
</div>
</section>